<div class="">
  <section class="hero is-large is-primary has-background">
    <img class="hero-background is-transparent" src="../../assets/images/drink-on-beach.jpg" />
    <div id="homeBody" class="hero-body">
      <div *ngIf="!registerMode" id="addPaddingDiv"></div>
      <div class="container">
        <h1 class="title has-text-centered">
          Welcome to Travel Experts
        </h1>
        <h2 class="subtitle has-text-centered">
          Your adventure awaits!
        </h2>
      </div>

      <section class="section" *ngIf="!registerMode">
        <div class="container">
          <div></div>
          <div class="buttons is-centered">
            <span *ngIf="!loggedIn()" class="button is-info" (click)="toggleRegisterMode()">Register</span>
          </div>
        </div>
      </section>
      <section class="section" *ngIf="registerMode">
          <div class="container">
            <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
          </div>
        </section>
    </div>

  </section>


</div>
