<div class="">
  <section class="hero is-large is-primary has-background">
    <div id="packageBody" class="hero-body">
      <!-- Displays booked packages and total cost -->
      <strong ><p id = "totalCost" class="is-size-1 has-text-centered has-text-link">Booked Packages</p></strong>
      <strong><p id = "totalCost" class="is-size-3 has-text-white">Total Cost Owing: ${{totalCost.toLocaleString('en-US')}}</p></strong>
      <strong><p *ngIf="packages.length==0" class="is-size-4 has-text-white">Currently, you do not have any booked packages.</p></strong>
      <!-- For loop that creates cards based on retrieved packages -->
      <div *ngFor="let package of packages" class="column">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <!-- Image sanitized by safe html pipe -->
              <img [src]="'data:image/jpg;base64,'+package.image | SafeHtmlImage" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">

              <div class="media-content">
                <a href={{package.partner}} target="_blank"><p class="title is-4 has-text-primary">{{package.pkgName}}</p></a>
                <p class="subtitle is-6 has-text-black"><strong
                    class="has-text-black">{{package.pkgStartDate.toString().substring(0,10)}} -
                    {{package.pkgEndDate.toString().substring(0,10)}}</strong></p>
              </div>
            </div>

            <div class="content is-size-5">
              {{package.pkgDesc}}
              <br />

            </div>
            <p class="is-size-6">Booked on {{package.bookingDate.toString().substring(0,10)}} for
              ${{package.pkgBasePrice.toLocaleString('en-US')}}</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<p class="footerFit">

</p>
