<nav class="navbar is-fixed-top is-info" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" [routerLink]="['']">
      <img id="navLogo" src="../../assets/images/logo.png">
    </a>

    <a id="navbarBurger" role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
      data-target="navbarBasicExample" (click)="toggleMobile()">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarMenu" class="navbar-menu has-background-info">
    <div class="navbar-start">
      <a class="navbar-item has-text-white is-size-5" [routerLink]="['']" routerLinkActive="router-link-active" (click)="toggleMobile()">
        <i class="fas fa-home"></i>Home
      </a>

      <a *ngIf="loggedIn()" class="navbar-item has-text-white is-size-5" [routerLink]="['/bookedPackages']" (click)="toggleMobile()"
        routerLinkActive="active">
        <i class="fas fa-umbrella-beach"></i>Booked Packages
      </a>

      <a *ngIf="loggedIn() && mobileView" class="navbar-item has-text-white is-size-5" [routerLink]="['/customer/edit']" (click)="toggleMobile()">
        <i class="fas fa-user-edit"></i>Edit Profile
      </a>

      <a *ngIf="loggedIn() && mobileView" class="navbar-item has-text-white is-size-5" [routerLink]="['']" (click)="logout()">
          <i class="fa fa-sign-out"></i>  Logout
      </a>

    </div>

    <div class="navbar-end" *ngIf="loggedIn() && !mobileView">
      <div class="navbar-item">
        <div class="dropdown" id="dropdownNav">
          <div class="dropdown-trigger">
            <button class="button dropdownButton is-link" aria-haspopup="true" aria-controls="dropdown-menu3" (click)="addDropDownBehaviour()">
              <span class="is-size-6">Welcome {{authService.decodedToken?.unique_name}}</span>
              <span class="icon is-small">
                <i class="fas fa-angle-down" aria-hidden="true"></i>
              </span>
            </button>
          </div>
          <div class="dropdown-menu" id="dropdown-menu3" role="menu">
            <div class="dropdown-content">
              <a [routerLink]="['/customer/edit']" class="dropdown-item" (click)="closeDropdown()">
                <i class="fas fa-user-edit"> </i> Edit Profile
              </a>
              <hr class="dropdown-divider">

              <a [routerLink]="['']" routerLinkActive="router-link-active" class="dropdown-item" (click)="logout()">
                <i class="fa fa-sign-out"> </i> Logout
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="navbar-end" *ngIf="!loggedIn()">
      <div class="navbar-item">
        <form #loginForm="ngForm" (ngSubmit)="login()">
          <div class="field is-horizontal">
            <div class="field-body">
              <div class="field">
                <p class="control is-expanded has-icons-left">
                  <input class="input is-primary" type="text" required placeholder="Username"
                    [(ngModel)]="model.Username" name="Username">
                  <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                  </span>
                </p>
              </div>
              <div class="field">
                <p class="control is-expanded has-icons-left has-icons-right">
                  <input class="input is-primary" type="password" required placeholder="Password"
                    [(ngModel)]="model.Password" name="Password">
                  <span class="icon is-small is-left">
                    <i class="fas fa-key"></i>
                  </span>
                </p>
              </div>
            </div>
            <div class="buttons">
              <button [disabled]="!loginForm.valid" type="submit" class="button is-link">
                <strong>Log in</strong>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</nav>
