<nav class="navbar is-fixed-top is-info" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <img id="navLogo" src="../../assets/images/logo.png">
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
      data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item">
        Register
      </a>

      <a class="navbar-item">
        Booked Packages
      </a>

    </div>

    <div class="navbar-end" *ngIf="loggedIn()">
      <div class="navbar-item">
        <div class="dropdown" id="dropdownNav">
          <div class="dropdown-trigger">
            <button class="button dropdownButton" aria-haspopup="true" aria-controls="dropdown-menu3">
              <span>Welcome User</span>
              <span class="icon is-small">
                <i class="fas fa-angle-down" aria-hidden="true"></i>
              </span>
            </button>
          </div>
          <div class="dropdown-menu" id="dropdown-menu3" role="menu">
            <div class="dropdown-content">
              <a href="#" class="dropdown-item">
                <i class="fa fa-user"> </i> Edit Profile
              </a>
              <hr class="dropdown-divider">

              <a href="#" class="dropdown-item" (click)="logout()">
                <i class="fa fa-sign-out"> </i> Logout
              </a>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="navbar-end" *ngIf="!loggedIn()">
      <div class="navbar-item">
        <form #loginForm="ngForm" (ngSubmit)="login()">
          <div class="field is-horizontal">
            <div class="field-body">
              <div class="field">
                <p class="control is-expanded has-icons-left">
                  <input class="input is-primary" type="text" required placeholder="Username"
                    [(ngModel)]="model.Username" name="Username">
                  <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                  </span>
                </p>
              </div>
              <div class="field">
                <p class="control is-expanded has-icons-left has-icons-right">
                  <input class="input is-primary" type="password" required placeholder="Password"
                    [(ngModel)]="model.Password" name="Password">
                  <span class="icon is-small is-left">
                    <i class="fas fa-key"></i>
                  </span>
                </p>
              </div>
            </div>
            <div class="buttons">
              <button [disabled]="!loginForm.valid" type="submit" class="button is-success">
                <strong>Log in</strong>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</nav>
