@import "../sass/utilities/initial-variables";
@import "../sass/utilities/functions";

$newNavHeight: 7rem;
$newNavImgMaxHeight: 10rem;

$navbar-height: $newNavHeight;
$navbar-item-img-max-height: $newNavImgMaxHeight;

.navbar{
  min-height: unset;
}

@import "/TravelExpert-SPA/node_modules/bulma/sass/components/navbar.sass";
