<section class="section">
  <div class="container">
    <form [formGroup]="registerForm" (ngSubmit)="register()">
      <div class="field">
        <label class="label">Username</label>
        <div class="control has-icons-left has-icons-right">
          <input formControlName="username"  class="input" type="text" placeholder="" value="">
          <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
          </span>

        </div>

      </div>

      <div class="field">
        <label class="label">Password</label>
        <div class="control has-icons-left has-icons-right">
          <input formControlName="password"  class="input" type="password" placeholder="" value="">
          <span class="icon is-small is-left">
            <i class="fas fa-key"></i>
          </span>

        </div>

      </div>

      <div class="field">
          <label class="label">Confirm Password</label>
          <div class="control has-icons-left has-icons-right">
            <input formControlName="confirmPassword"  class="input" type="password" placeholder="" value="">
            <span class="icon is-small is-left">
              <i class="fas fa-key"></i>
            </span>

          </div>

        </div>


      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input required formControlName="termsAndConditions" type="checkbox">
            I agree to the <a href="#">terms and conditions</a>
          </label>
        </div>
      </div>



      <div class="field is-grouped">
        <div class="control">
          <button class="button is-success" type="submit">Register</button>
        </div>
        <div class="control">
          <button class="button is-warning" type="button" (click)="cancel()">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</section>

<p>Form value: {{registerForm.value | json}}:</p>
<p>Form status: {{registerForm.status | json}}:</p>
