<section class="section">
  <div class="container">
    <form [formGroup]="registerForm" (ngSubmit)="register()" (submit)="showValidation()">


      <div class="field">
        <label class="label">First Name</label>
        <div class="control has-icons-left has-icons-right">
          <input formControlName="custFirstName" required class="input" type="text"
            [(ngModel)]="customer.custFirstName">
          <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
          </span>

        </div>

      </div>

      <div class="field">
        <label class="label">Last Name</label>
        <div class="control has-icons-left has-icons-right">
          <input formControlName="custLastName" required class="input" type="text" [(ngModel)]="customer.custLastName">
          <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
          </span>

        </div>

      </div>

      <div class="field">
        <label class="label">Address</label>
        <div class="control has-icons-left has-icons-right">
          <input formControlName="custAddress" required class="input" type="text" [(ngModel)]="customer.custAddress">
          <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
          </span>

        </div>

      </div>

      <div class="field">
        <label class="label">City</label>
        <div class="control has-icons-left has-icons-right">
          <input formControlName="custCity" required class="input" type="text" [(ngModel)]="customer.custCity">
          <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
          </span>

        </div>

      </div>





      <label class="label">Country</label>
      <div class="control has-icons-left">

        <div class="select">
          <select formControlName="custCountry" [(ngModel)]="selectedCountry" (change)="chooseCountry()"> Country
            <option *ngFor="let c of countries" [value]="c">{{c}}</option>
          </select>
        </div>
        <span class="icon is-left">
          <i class="fas fa-globe"></i>
        </span>
      </div>

      <label *ngIf="selectedCountry=='Canada'" class="label">Province</label>
      <label *ngIf="selectedCountry=='USA'" class="label">State</label>
      <div class="control has-icons-left">

        <div class="select">
          <select formControlName="custProv" [(ngModel)]="selectedProvince"> Country
            <option value="" disabled="disabled">Choose Province/State</option>
            <option *ngFor="let p of filterProvinces()" [value]="p.value">{{p.value}}</option>
          </select>
        </div>
        <span class="icon is-left">
          <i class="fas fa-globe"></i>
        </span>
      </div>

      <div class="field">
        <label class="label">Postal Code</label>
        <div class="control has-icons-left has-icons-right">
          <input formControlName="custPostal" required class="input" type="text" [(ngModel)]="customer.custPostal">
          <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
          </span>

        </div>

      </div>

      <div class="field">
        <label class="label">Home Phone</label>
        <div class="control has-icons-left has-icons-right">
          <input formControlName="custHomePhone" required class="input" type="text"
            [(ngModel)]="customer.custHomePhone">
          <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
          </span>

        </div>

      </div>

      <div class="field">
        <label class="label">Business Phone</label>
        <div class="control has-icons-left has-icons-right">
          <input formControlName="custBusPhone" required class="input" type="text" [(ngModel)]="customer.custBusPhone">
          <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
          </span>

        </div>

      </div>

      <div class="field">
        <label class="label">Email</label>
        <div class="control has-icons-left has-icons-right">
          <input formControlName="custEmail" required class="input" type="text" [(ngModel)]="customer.custEmail">
          <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
          </span>

        </div>

      </div>

      <div class="field">
        <label class="label">Username</label>
        <div class="control has-icons-left has-icons-right">
          <input formControlName="username" class="input" type="text" placeholder="" value="">
          <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
          </span>

        </div>

      </div>

      <div class="field">
        <label class="label">Password</label>
        <div class="control has-icons-left has-icons-right">
          <input formControlName="password" class="input" type="password" placeholder="" value="">
          <span class="icon is-small is-left">
            <i class="fas fa-key"></i>
          </span>

        </div>

      </div>

      <div class="field">
        <label class="label">Confirm Password</label>
        <div class="control has-icons-left has-icons-right">
          <input formControlName="confirmPassword" class="input" type="password" placeholder="" value="">
          <span class="icon is-small is-left">
            <i class="fas fa-key"></i>
          </span>

        </div>

      </div>


      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input required formControlName="termsAndConditions" type="checkbox">
            I agree to the <a href="#">terms and conditions</a>
          </label>
        </div>
      </div>



      <div class="field is-grouped">
        <div class="control">
          <button class="button is-success" type="submit">Register</button>
        </div>
        <div class="control">
          <button class="button is-warning" type="button" (click)="cancel()">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</section>

<p>Form value: {{registerForm.value | json}}:</p>
<p>Form status: {{registerForm.status | json}}:</p>
