<footer class="footer is-dark">
  <div class="content has-text-centered ">
    <div class="socialMediaIcons">
      <a href="https://www.facebook.com" target="_blank"><i class="fa fa-facebook-square"></i></a>
      <a href="https://www.instagram.com" target="_blank"><i class="fa fa-twitter-square"></i></a>
      <a href="https://www.twitter.com" target="_blank"><i class="fa fa-instagram"></i></a>
    </div>
    <div>
      <p >
        <strong>Tawico &copy; 2019</strong>
      </p>
    </div>

  </div>
</footer>
